.banner {
    background-image:url("../images/foto-banner3.jpg") ;
    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover;
    color: var(--black);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 400;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: transparent ;
    border: 1px solid var(--black);
    color: var(--black);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--black);
    background: url("../images/lupa.svg") no-repeat;
    background-position: 1em;
}

.banner2 {
   
    color: var(--black);
    text-align: center;
    padding: 2.5em 2em;
    max-width: 100%;
    height: auto;
    background: var(--lavender-blush);
    box-shadow: 0px 4px 4px rgba(0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    
}

.banner__titulo2 {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto2 {
    font-weight: 600;
    margin: 1em 0;
   
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }

    .banner__pesquisa {
        width: 30%;
    }

    .banner__pesquisa::placeholder {
        background-position: 2em;
    }

    .banner__titulo2 {
        font-size: 30px;
        font-weight: 600;
    }

    .banner__texto2 {
        font-size: 20px;
        font-weight: 500;
    }
}
@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        width: 30%;
    }

    .banner__pesquisa::placeholder {
        background-position: 15em;
    }

    .banner {
        padding: 6em 0;
       
 
    }
    .banner__titulo {
        font-size: 80px;
    }

    .banner__texto {
        font-size: 50px;
        
      
    }

    
}